.appetizer-main-background-color {
    background-image: url(https://img.freepik.com/premium-vector/premium-white-abstract-curve-background-with-minimalist-concept-vector-illustration_291930-800.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}