.dashboard-main-background {
    background-color: #0A0A0A;
}

.dashboard-second-background {
    background-color: #1f1f1f;
}
.scale-animation:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}
.dashboard-main-test-background {
    background-color: #151515;
}

/* CSS KINEME */
.article-cards:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s ease-in-out;
}
