body { 
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}
.homepage-background {
    background: linear-gradient(to right, #222222, #000000);
    background-size:cover;
    background-repeat: no-repeat;
    height: 190vh;
    width: 100vw;
    overflow-x: hidden;
}

.cuisines-background {
    background: linear-gradient(to right, #222222, #000000);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.homepage-second-background {
    background-color: #292929;
}
.backface-hidden {
    backface-visibility: hidden;
}

.homepage-text-color {
    color: white;
}

.homepage-button-color {
    background-color: #4F345A;
}

.homepage-button-color:hover {
    background-color: #372779;
}

.negative-z-index {
    z-index: -1;
}

.ordered-list {
    list-style-type: number;
}

.homepage-first-text, .homepage-second-text {
    color: white;
    font-size: 3rem;
    font-family: Inter;
}
.arrow-left { 
    width: 0; 
    height: 0; 
    border-top: 
    10px solid transparent; 
    border-bottom: 10px solid transparent; 
    border-right: 20px solid #fff; 
}

.blur-background { 
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(60px); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/* Add this to your CSS file (e.g., App.css) */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.icon-glow {
    animation: glow 1.5s infinite;
    color: #FFD700; /* Example color (Gold) */
}
