.login-background-color {
    background-color: #ECE4B7;
}

.login-second-background-color {
    background-color: #AA828F;
}

.login-font-color {
    color: #372772;
}

.blur-background { 
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(60px); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}