body, html {
    position: relative;
}
.navbar-background {
    background: #000;
    border-bottom: 1px solid #292929;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.cuisine-dropdown {
    position: relative;
    display: inline-block;
}

.cuisine-dropdown-content {
    display: none;
    position: absolute;
    transition: hover 0.5s;
    left: -30px;
    background-color: #292929;
    border-radius: 5px;
    min-width: 250px;
    max-height: 250px;
    z-index: 10;
    overflow-y: auto;
}

.cuisine-dropdown:hover .cuisine-dropdown-content {
    display: block;
}