
.navbar-background {
    background: #000;
    position: fixed;
    width: 99%;
    z-index: 100;
}

.cuisine-dropdown,
.about-dropdown {
    position: relative;
    display: inline-block;
}


.cuisine-dropdown-content,
.about-dropdown-content {
    display: none;
    position: absolute;
    left: -30px;
    background-color: #292929;
    border-radius: 5px;
    min-width: 250px;
    max-height: 250px;
    z-index: 10;
    overflow-y: auto;
}

.cuisine-dropdown:hover .cuisine-dropdown-content,
.about-dropdown:hover .about-dropdown-content {
    display: block;
    max-height: 250px;
    opacity: 1;
}
